# how to merge data into big file and upload it to S3 bunked

In [1]:
import numpy as np
import pandas as pd
import re
import matplotlib.pyplot as plt

In [2]:
#read csv file to dataframe
aisles_df = pd.read_csv('aisles.csv')
departments_df = pd.read_csv('departments.csv')
orders_df = pd.read_csv('orders.csv')
products_df = pd.read_csv('products.csv')
order_products_train = pd.read_csv('order_products__train.csv')
order_products_prior = pd.read_csv('order_products__prior.csv')

In [3]:
print(f'The shape of aisles_df: {aisles_df.shape}')
print(f'The shape of departments_df: {departments_df.shape}')
print(f'The shape of orders_df: {orders_df.shape}')
print(f'The shape of products_df: {products_df.shape}')
print(f'The shape of order_products_train: {order_products_train.shape}')
print(f'The shape of order_products_prior: {order_products_prior.shape}')
order_products_train.head(10)

The shape of aisles_df: (134, 2)
The shape of departments_df: (21, 2)
The shape of orders_df: (3421083, 7)
The shape of products_df: (49688, 4)
The shape of order_products_train: (1384617, 4)
The shape of order_products_prior: (32434489, 4)

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1
5         1       13176                  6          0
6         1       47209                  7          0
7         1       22035                  8          1
8        36       39612                  1          0
9        36       19660                  2          1

In [4]:
# Merging the Prior and train order_products
order_products = pd.concat([order_products_train, order_products_prior])
order_products = order_products.merge(products_df, on='product_id', how='left').merge(orders_df, on='order_id', how='left').merge(departments_df, on='department_id').merge(aisles_df, on='aisle_id')

# Count of total orders
total_orders = order_products['order_id'].nunique()
print('Count of total orders: ', total_orders)

Count of total orders:  3346083

In [7]:
print('Merging products, order_products, and orders tables...')

order_products.head(10)

Merging products, order_products, and orders tables...

,order_id,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,department,aisle
0,1,49302,1,1,Bulgarian Yogurt,120,16,112108,train,4,4,10,9.0,dairy eggs,yogurt
1,98,43654,3,1,Whole Milk Greek Blended Vanilla Bean Yogurt,120,16,56463,train,41,3,8,14.0,dairy eggs,yogurt
2,170,8153,6,0,Plain Non-Fat Greek Yogurt,120,16,182389,train,7,0,13,14.0,dairy eggs,yogurt
3,631,9203,13,1,Dairy Free Coconut Milk Raspberry Yogurt Alter...,120,16,184099,train,7,3,9,30.0,dairy eggs,yogurt
4,631,15842,14,1,Dairy Free Coconut Milk Yogurt Alternative,120,16,184099,train,7,3,9,30.0,dairy eggs,yogurt
5,878,23044,3,0,Cream Top Smooth & Creamy Vanilla Yogurt,120,16,61911,train,9,2,13,30.0,dairy eggs,yogurt
6,915,19977,11,0,Light & Fit Greek Cherry Yogurt,120,16,166117,train,4,1,16,30.0,dairy eggs,yogurt
7,1032,11063,1,1,Clover Org Greek Plain,120,16,164808,train,18,1,15,30.0,dairy eggs,yogurt
8,1145,47409,9,1,Original Red Raspberry Yogurt,120,16,127134,train,10,5,9,7.0,dairy eggs,yogurt
9,1145,5069,17,1,Danimals Strawberry Explosion & Strikin' Straw...,120,16,127134,train,10,5,9,7.0,dairy eggs,yogurt

In [8]:
order_products.to_csv('order_products_result.csv')

In [9]:
print('result already into csv')

result already into csv

# learn boto and connect s3
https://aws.amazon.com/cn/sdk-for-python/
https://blog.csdn.net/yuan13091324/article/details/50523838 -->

In [ ]:
# 获得所有S3存储筒
import boto.s3.connection
conn=boto.s3.connect_to_region('cn-north-1')
conn.get_all_buckets()

In [ ]:
# 存储数据

b=conn.get_bucket('bucketname')
from boto.s3.key import Key
k=Key(b)
k.key='myfile'
k.set_contents_from_filename('要上传的文件路径')