In [ ]:
import sys
from awsglue.transforms import *
from awsglue.utils import getResolvedOptions
from pyspark.context import SparkContext
from pyspark.sql import SQLContext
from awsglue.context import GlueContext
from awsglue.job import Job

from pyspark.sql.types import *
from pyspark.sql.functions import pandas_udf, PandasUDFType,udf
from pyspark.sql.types import IntegerType, StringType
from pyspark.sql.functions import *

from datetime import datetime, timezone, timedelta
import pytz

glueContext = GlueContext(SparkContext.getOrCreate())

Welcome to the Glue Interactive Sessions Kernel
For more information on available magic commands, please type %help in any new cell.

Please view our Getting Started page to access the most up-to-date information on the Interactive Sessions kernel: https://docs.aws.amazon.com/glue/latest/dg/interactive-sessions.html
Installed kernel version: 0.35
Authenticating with environment variables and user-defined glue_role_arn: arn:aws:iam::087763889191:role/service-role/AWSGlueServiceRole-imba-nining
Trying to create a Glue session for the kernel.
Worker Type: G.1X
Number of Workers: 5
Session ID: ca4071c2-730a-47ce-9bbb-7a5f8ba3d528
Applying the following default arguments:
--glue_kernel_version 0.35
--enable-glue-datacatalog true
Waiting for session ca4071c2-730a-47ce-9bbb-7a5f8ba3d528 to get into ready status...
Session ca4071c2-730a-47ce-9bbb-7a5f8ba3d528 has been created

In [1]:
#crawler the data from data source, then define raw data zone as database for the data.
data_order = glueContext.create_dynamic_frame.from_catalog(database="raw data zone", table_name="orders")
print("Count: " + str(data_order.count()))
print(type(data_order))
data_order.printSchema()

print(type(data_order))

# data_product = glueContext.create_dynamic_frame.from_catalog(database="raw data zone", table_name="products")
# print("Count: " + str(data_product.count()))
# data_product.printSchema()

data_order_prior = glueContext.create_dynamic_frame.from_catalog(database="raw data zone", table_name="order_products")
print("Count: " + str(data_order_prior.count()))
data_order_prior.printSchema()

Count: 39
<class 'awsglue.dynamicframe.DynamicFrame'>
root
|-- order_id: long
|-- user_id: long
|-- eval_set: string
|-- order_number: long
|-- order_dow: long
|-- order_hour_of_day: long
|-- days_since_prior_order: long

<class 'awsglue.dynamicframe.DynamicFrame'>
Count: 384
root
|-- order_id: long
|-- product_id: long
|-- add_to_cart_order: long
|-- reordered: long
|-- partition_0: string

In [2]:
#departments is just one table in database, so you can load other tables like aisles, orders, etc. one by one
data_order = data_order.toDF()
data_order.show(5)

# data_product = data_product.toDF()
# data_product.show(5)

data_order_prior =data_order_prior.toDF()
data_order_prior.show(5)

+--------+-------+--------+------------+---------+-----------------+----------------------+
|order_id|user_id|eval_set|order_number|order_dow|order_hour_of_day|days_since_prior_order|
+--------+-------+--------+------------+---------+-----------------+----------------------+
| 2539329|      1|   prior|           1|        2|                8|                  null|
| 2398795|      1|   prior|           2|        3|                7|                    15|
|  473747|      1|   prior|           3|        3|               12|                    21|
| 2254736|      1|   prior|           4|        4|                7|                    29|
|  431534|      1|   prior|           5|        4|               15|                    28|
+--------+-------+--------+------------+---------+-----------------+----------------------+
only showing top 5 rows

+--------+----------+-----------------+---------+--------------------+
|order_id|product_id|add_to_cart_order|reordered|         partition_0|
+--------+----------+-----------------+---------+--------------------+
| 1187899|       196|                1|        1|order_products_train|
| 1187899|     25133|                2|        1|order_products_train|
| 1187899|     38928|                3|        1|order_products_train|
| 1187899|     26405|                4|        1|order_products_train|
| 1187899|     39657|                5|        1|order_products_train|
+--------+----------+-----------------+---------+--------------------+
only showing top 5 rows

In [3]:
data_order.createOrReplaceTempView("orders")
data_order_prior.createOrReplaceTempView("order_products")
print(type(data_order))
df_SQL = spark.sql("SELECT a.*,b.product_id, b.add_to_cart_order, b.reordered FROM orders as a JOIN order_products as b ON a.order_id = b.order_id WHERE a.eval_set = 'prior'")
df_SQL.show(5)

<class 'pyspark.sql.dataframe.DataFrame'>
+--------+-------+--------+------------+---------+-----------------+----------------------+----------+-----------------+---------+
|order_id|user_id|eval_set|order_number|order_dow|order_hour_of_day|days_since_prior_order|product_id|add_to_cart_order|reordered|
+--------+-------+--------+------------+---------+-----------------+----------------------+----------+-----------------+---------+
|  431534|      1|   prior|           5|        4|               15|                    28|       196|                1|        1|
|  431534|      1|   prior|           5|        4|               15|                    28|     12427|                2|        1|
|  431534|      1|   prior|           5|        4|               15|                    28|     10258|                3|        1|
|  431534|      1|   prior|           5|        4|               15|                    28|     25133|                4|        1|
|  431534|      1|   prior|           5|        4|               15|                    28|     10326|                5|        0|
+--------+-------+--------+------------+---------+-----------------+----------------------+----------+-----------------+---------+
only showing top 5 rows

In [4]:
df_SQL.createOrReplaceTempView("order_products_prior")
user_features_1 = spark.sql("SELECT user_id, \
Max(order_number) AS user_orders, \
Sum(days_since_prior_order) AS user_period, \
Avg(days_since_prior_order) AS user_mean_days_since_prior \
FROM orders \
GROUP BY user_id")

user_features_1.show(5)

+-------+-----------+-----------+--------------------------+
|user_id|user_orders|user_period|user_mean_days_since_prior|
+-------+-----------+-----------+--------------------------+
|      2|         15|        228|        16.285714285714285|
|      3|         13|        144|                      12.0|
|      1|         11|        190|                      19.0|
+-------+-----------+-----------+--------------------------+

In [5]:
user_features_2 = spark.sql("SELECT user_id, \
Count(*) AS user_total_products, \
Count(DISTINCT product_id) AS user_distinct_products, \
Sum(CASE WHEN reordered = 1 THEN 1 ELSE 0 END) / Cast(Sum(CASE WHEN order_number > 1 THEN 1 ELSE 0 END) AS DOUBLE) AS user_reorder_ratio \
FROM order_products_prior  \
GROUP BY user_id")
user_features_2.show(5)

+-------+-------------------+----------------------+------------------+
|user_id|user_total_products|user_distinct_products|user_reorder_ratio|
+-------+-------------------+----------------------+------------------+
|      2|                195|                   102| 0.510989010989011|
|      3|                 88|                    33|0.7051282051282052|
|      1|                 59|                    18|0.7592592592592593|
+-------+-------------------+----------------------+------------------+

In [6]:
up_features = spark.sql("SELECT user_id, \
product_id, \
Count(*) AS up_orders, \
Min(order_number) AS up_first_order, \
Max(order_number) AS up_last_order, \
Avg(add_to_cart_order) AS up_average_cart_position \
FROM order_products_prior \
GROUP BY user_id, product_id") 
up_features.show(5)

+-------+----------+---------+--------------+-------------+------------------------+
|user_id|product_id|up_orders|up_first_order|up_last_order|up_average_cart_position|
+-------+----------+---------+--------------+-------------+------------------------+
|      2|     48110|        2|             1|            8|                     5.0|
|      3|     24810|        3|             1|           12|                     7.0|
|      2|     39928|        1|            14|           14|                    13.0|
|      3|     17668|        5|             1|           11|                     3.6|
|      2|     10305|        1|            12|           12|                    10.0|
+-------+----------+---------+--------------+-------------+------------------------+
only showing top 5 rows

In [7]:
prd_features_pri = spark.sql("SELECT *, Rank() OVER(partition BY user_id, product_id \
ORDER BY order_number) AS product_seq_time \
FROM order_products_prior")
prd_features_pri.show(5)

prd_features_pri.createOrReplaceTempView("prd_features_pri1")

prd_features = spark.sql("SELECT product_id, \
Count(*) AS prod_orders, \
Sum(reordered) AS prod_reorders, \
Sum(CASE WHEN product_seq_time = 1 THEN 1 ELSE 0 END) AS prod_first_orders, \
Sum(CASE WHEN product_seq_time = 2 THEN 1 ELSE 0 END) AS prod_second_orders \
FROM prd_features_pri1 \
GROUP BY product_id") 

prd_features.show(10)

+--------+-------+--------+------------+---------+-----------------+----------------------+----------+-----------------+---------+----------------+
|order_id|user_id|eval_set|order_number|order_dow|order_hour_of_day|days_since_prior_order|product_id|add_to_cart_order|reordered|product_seq_time|
+--------+-------+--------+------------+---------+-----------------+----------------------+----------+-----------------+---------+----------------+
| 2168274|      2|   prior|           1|        2|               11|                  null|     48110|                5|        0|               1|
|  788338|      2|   prior|           8|        1|               15|                    27|     48110|                5|        1|               2|
| 1374495|      3|   prior|           1|        1|               14|                  null|     24810|                9|        0|               1|
| 1972919|      3|   prior|           6|        0|               16|                     7|     24810|                6|        1|               2|
| 1402502|      3|   prior|          12|        1|               15|                    15|     24810|                6|        1|               3|
+--------+-------+--------+------------+---------+-----------------+----------------------+----------+-----------------+---------+----------------+
only showing top 5 rows

+----------+-----------+-------------+-----------------+------------------+
|product_id|prod_orders|prod_reorders|prod_first_orders|prod_second_orders|
+----------+-----------+-------------+-----------------+------------------+
|     16797|          4|            2|                2|                 1|
|     16965|          2|            1|                1|                 1|
|     19057|          1|            0|                1|                 0|
|     47766|         13|           11|                2|                 2|
|     25133|          8|            7|                1|                 1|
|     30450|          1|            0|                1|                 0|
|     22124|          4|            3|                1|                 1|
|     22035|          3|            2|                1|                 1|
|     38596|          1|            0|                1|                 0|
|      5212|          1|            0|                1|                 0|
+----------+-----------+-------------+-----------------+------------------+
only showing top 10 rows

In [8]:

today = datetime.utcnow().replace(tzinfo=timezone.utc) 
Sydney = timezone(timedelta(hours=11))
date_time = today.astimezone(Sydney).strftime("%Y-%m-%d %H:%M:%S")
print(date_time)


user_features_1 =user_features_1.repartition(1)
user_features_1.write.parquet(f's3://project-imba/data-lake/feature_extract/user_features_1/{date_time}/')
                              
user_features_2 =user_features_2.repartition(1)
user_features_2.write.parquet(f's3://project-imba/data-lake/feature_extract/user_features_2/{date_time}/')
                              
up_features =up_features.repartition(1)
up_features.write.parquet(f's3://project-imba/data-lake/feature_extract/up_features/{date_time}/')
                          
prd_features =prd_features.repartition(1)
prd_features.write.parquet(f's3://project-imba/data-lake/feature_extract/prd_features/{date_time}/')

2023-01-01 00:17:47

In [9]:
  # creating dataframes from existing athena catelog
up_features = glueContext.create_dynamic_frame_from_options(connection_type = "parquet", connection_options = {"paths": [f's3://project-imba/data-lake/feature_extract/up_features/{date_time}/']})
prd_features = glueContext.create_dynamic_frame_from_options(connection_type = "parquet", connection_options = {"paths": [f's3://project-imba/data-lake/feature_extract/prd_features/{date_time}/']})
user_features_1 = glueContext.create_dynamic_frame_from_options(connection_type = "parquet", connection_options = {"paths": [f's3://project-imba/data-lake/feature_extract/user_features_1/{date_time}/']})
user_features_2 = glueContext.create_dynamic_frame_from_options(connection_type = "parquet", connection_options = {"paths": [f's3://project-imba/data-lake/feature_extract/user_features_2/{date_time}/']})

# join user features together
users = Join.apply(user_features_1.rename_field('user_id','user_id1'), user_features_2, 'user_id1', 'user_id').drop_fields(['user_id1'])

# join everything together
df = Join.apply(Join.apply(up_features, 
                  users.rename_field('user_id','user_id1'), 
                  'user_id','user_id1').drop_fields(['user_id1']),
      prd_features.rename_field('product_id','product_id1'), 
      'product_id','product_id1').drop_fields(['product_id1'])

# convert glue dynamic dataframe to spark dataframe
df_spark = df.toDF()
df_spark.repartition(1).write.mode('overwrite').format('csv').save(f's3://project-imba/data-lake/curated_data/output/{date_time}/', header = 'true')
df_spark.show(10)

+----------+---------+--------------------------+-----------+----------------------+------------------+-------------+------------------+-------------------+------------------------+--------------+-----------+-------------+-----------+-----------------+-------+
|product_id|up_orders|user_mean_days_since_prior|user_period|user_distinct_products|prod_second_orders|prod_reorders|user_reorder_ratio|user_total_products|up_average_cart_position|up_first_order|user_orders|up_last_order|prod_orders|prod_first_orders|user_id|
+----------+---------+--------------------------+-----------+----------------------+------------------+-------------+------------------+-------------------+------------------------+--------------+-----------+-------------+-----------+-----------------+-------+
|     12845|        1|                      12.0|        144|                    33|                 0|            0|0.7051282051282052|                 88|                     2.0|             4|         13|            4|          1|                1|      3|
|     16797|        3|                      12.0|        144|                    33|                 1|            2|0.7051282051282052|                 88|                     4.0|             1|         13|            9|          4|                2|      3|
|     16797|        1|        16.285714285714285|        228|                   102|                 1|            2| 0.510989010989011|                195|                     1.0|             2|         15|            2|          4|                2|      2|
|     39928|        1|        16.285714285714285|        228|                   102|                 0|            0| 0.510989010989011|                195|                    13.0|            14|         15|           14|          1|                1|      2|
|     33276|        2|        16.285714285714285|        228|                   102|                 1|            1| 0.510989010989011|                195|                    15.5|             4|         15|            6|          2|                1|      2|
|        23|        1|        16.285714285714285|        228|                   102|                 0|            0| 0.510989010989011|                195|                    12.0|             8|         15|            8|          1|                1|      2|
|     22035|        3|                      12.0|        144|                    33|                 1|            2|0.7051282051282052|                 88|      3.6666666666666665|             5|         13|            8|          3|                1|      3|
|      3151|        1|        16.285714285714285|        228|                   102|                 0|            0| 0.510989010989011|                195|                     7.0|            12|         15|           12|          1|                1|      2|
|     30450|        1|                      19.0|        190|                    18|                 0|            0|0.7592592592592593|                 59|                     5.0|             3|         11|            3|          1|                1|      1|
|        79|        1|        16.285714285714285|        228|                   102|                 0|            0| 0.510989010989011|                195|                     3.0|            13|         15|           13|          1|                1|      2|
+----------+---------+--------------------------+-----------+----------------------+------------------+-------------+------------------+-------------------+------------------------+--------------+-----------+-------------+-----------+-----------------+-------+
only showing top 10 rows

In [1]:
# #data clean -- in this part, only one way, deduplication, is designed to demonstrate the clean process, you can add other methods to clean data
# loc = locals()      #get string name
# def get_variable_name(variable):
#     for k,v in loc.items():
#         if loc[k] is variable:
#             return k


# # def getString_name(df_name):
# #      return list(dict(df_name = df_name).keys())[0]#,type(list(dict(df_name = df_name).values())[0])

# def deduplicate_df(df_name):
#     if df_name.count() != df_name.distinct().count():
#         print( str(get_variable_name(df_name)) + ' have duplicated row:',df_name.count()- df_name.distinct().count())
#         df_name = df_name.dropDuplicates()
#         print('duplicated data has been cleared')
#     else:
#         print( str(get_variable_name(df_name)) + ' hasn\'t duplication, the totle distinct row',df_name.count())
#     return df_name

# df_orders_clean = deduplicate_df(df_orders)
# df_orders_clean.show(5)
# df_products_clean = deduplicate_df(df_products)
# df_order_products_clean = deduplicate_df(df_order_products)

In [ ]:
# # put cleaned departments table into my datalake 
# df_products_clean =df_products_clean.repartition(1)
# df_products_clean.write.parquet('s3://project-imba/data-lake/raw-data/products_clean)

In [ ]:
# wide_table_for_ML=(df_orders_clean.select("order_id","user_id","order_number")\
# .join(df_order_products,df_orders_clean.order_id==df_order_products.order_id,"left")\
# .drop(df_orders_clean.order_id)\
# .join(df_products,df_products.product_id == df_order_products.product_id,"left")\
# .drop(df_products.product_id)\
# .orderBy("user_id",df_orders_clean.order_number,"add_to_cart_order")\
# .drop("reordered","product_name"))\
# .select("user_id","order_id","order_number","department_id","aisle_id","product_id","add_to_cart_order","partition_0")\

In [ ]:
# wide_table_for_ML.show(503)